.header {
  background-image: url(../assets/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  height: 200px;
  padding: 2rem 0;
}

.header a {
  box-shadow: none;
}

.header img {
  height: 8rem;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  max-width: 16rem;
  
  background: linear-gradient(90deg, #ececec, #c3c3c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}