.taskCount {
  max-width: 45rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin: 4rem auto 1.5rem;
}

.createdTasks {
  color: var(--pink-light);
  font-size: 0.875rem;
}

.concludedTasks {
  color: var(--pink-dark);
  font-size: 0.875rem;
}

.createdTasks, .concludedTasks {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.createdTasks div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-dark);
  padding: .1rem .5rem;
  border-radius: 1rem;
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
}

.concludedTasks div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-dark);
  padding: .1rem .5rem;
  border-radius: 1rem;
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
}

@media (max-width: 280px) {
  .taskCount {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}