.tasks {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid var(--gray-400); */
  margin: 1.5rem auto 0;
  gap: 0.75rem;
}

.tasksEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 4rem auto;
}

.tasksEmptyText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background-color: var(--gray-500);
  gap: 1rem;
}

.container label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
  width: 90%;
}

.container input[type="checkbox"] {
  appearance: none;
  width: 1.1rem;
  height: 1.1rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  outline: none;
  box-shadow: none;
}

.container input[type="checkbox"]:checked {
  border-color: var(--purple-dark);
  background-color: var(--purple-dark);
  outline: none;
}


.container input[type="checkbox"]:checked::before {
  content: "✔";
  border-radius: 50%;
  color: var(--gray-100);

  font-size: 0.9rem;
  top: -0.20rem;
  left: .07rem;
  align-items: center;
  position: relative;
  outline: none;
}

.container input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
}