.tasks {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid var(--gray-400); */
  margin: 0 auto 0.75rem;
}

.tasks:last-child {
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background-color: var(--gray-500);
  gap: 1rem;
  padding: 1rem;
}

.container label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  user-select: none;
  line-height: 140%;
  color: var(--gray-100);
  font-size: 0.875rem;
}

.container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 19px;
  border: 2px solid var(--blue);
  border-radius: 100%;
  outline: none;
  box-shadow: none;
  transition: 0.1s;
}

.container input[type="checkbox"]:hover {
  background-color: var(--blue-dark);
}

.container input[type="checkbox"]:checked {
  border-color: var(--purple-dark);
  background-color: var(--purple-dark);
  outline: none;
  transition: 0.1s;
}

.container input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
  border-color: var(--purple);
}

.container input[type="checkbox"]:checked::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "✔";
  line-height: 17.5px;
  margin-right: 1px;
  border-radius: 100%;
  color: var(--gray-100);
  align-items: center;
  outline: none;
}

.container input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
  color: var(--gray-300);
}

.container:has(input[type="checkbox"]:checked) {
  border: 1px solid var(--gray-500);
}

.trashIcon {
  transition: 0.1s;
  line-height: 0;
  padding: 0.25rem;
  background: transparent;
  color: var(--gray-300);
  border: none;
}

.trashIcon:hover {
  border-radius: 0.25rem;
  background-color: var(--gray-400);
  color: var(--danger);
  line-height: 0;
}