:root {
  /* Product */
  --blue-dark: #1E6F9F;
  --purple-900: #1c0f1e;
  --purple-dark: #321339;
  --purple-light: #4D2763;
  --purple-focus: #9747FF;
  --pink-dark: #f35ef3;
  --pink-light: #cd8b9e;
  --purple: #ab76dd;

  /* Base */
  --gray-600: #1A1A1A;
  --gray-500: #262626;
  --gray-300: #808080;
  --gray-100: #F2F2F2;

  /* Feedback */
  --danger: #E25858;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 1px var(--purple-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  /* Sizes: 12, 14 e 16px, Line Height: 140%, Weights: Regular(400) & Bold (700) */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}